<div *ngIf="user != null">
  <div class="user-name">
    <h3>&nbsp;{{ user.firstName }}&nbsp;{{ user.lastName }}</h3>
  </div>
  <div class="balance">
    <h4 [ngClass]="positiveBalance() ? 'positive' : 'negative'" *ngIf="positiveBalance() === true">
      {{ getSavings() }}&euro;</h4>
    <h4 [ngClass]="positiveBalance() ? 'positive' : 'negative'" *ngIf="positiveBalance() === false">
      {{ getSavings() }}&euro;</h4>
  </div>
  <div class="logout-btn">
    <span class="fas fa-cog fa-lg" (click)="updateuser()"></span>
    <button pButton type="button" (click)="logout()" label="Logout" class="ui-button-danger"></button>
  </div>
  <div class="dashboard-header" class="graph">
    <p-chart type="doughnut" [data]="data"></p-chart>
  </div>
  <div class="dashboard-content">
    <app-table-data [PAYMENTS]="PAYMENTS" [collectionSize]="collectionSize">
    </app-table-data>
  </div>
</div>
