.login-window {
  position: absolute;
  left: 50%;
  top: 150px;
  transform: translate(-50%);
}

.login-btn {
  margin-left: 50%;
  transform: translate(-50%);
}

.login-input {
  margin-top: 30px;
  padding-left: 47px;
}

.password-input {
  padding-top: 25px;
  padding-left: 47px;
  margin-bottom: 20px;
}
